name: Create branch from issue
on:
  issues:
    types: [labeled]

jobs:
  createNewBranch:
    if: github.event.label.name == 'data request'
    runs-on: ubuntu-latest
    steps:
      - name: Extract backend_tag
        env:
          ISSUE_BODY: ${{ github.event.issue.body }}
        run: |
          backend_tag=$(echo "$ISSUE_BODY" \
            | sed -n '/^```json$/,${p;/^```$/q}' \
            | sed '1d;$d' \
            | jq -r '.zonda.backend_tag // empty')

          if [ -z "$backend_tag" ]; then
            backend_tag="main"
            echo "::warning title=Backend tag missing::backend_tag not found in JSON code-block, falling back to 'main'."
          fi

          echo "BACKEND_TAG=$backend_tag" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ env.backend_tag }}

      - name: Create new branch and commit
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git checkout -b issue-${{ github.event.issue.number }}/request
          echo "${{ github.event.issue.number }}" > issue.txt
          git add issue.txt
          git commit -m "Add file for issue #${{ github.event.issue.number }}"
          git push origin issue-${{ github.event.issue.number }}/request

      - name: Add 'submitted' label to issue
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['submitted']
            })
