name: Create branch from issue
on:
  issues:
    types: [labeled]

jobs:
  createNewBranch:
    if: github.event.label.name == 'data request'
    runs-on: ubuntu-latest
    steps:
      - name: Extract backend_tag
        id: extract_backend_tag
        continue-on-error: true
        env:
          ISSUE_BODY: ${{ github.event.issue.body }}
        run: |
          json_block=$(echo "$ISSUE_BODY" \
            | sed -n '/^```json$/,${p;/^```$/q}' \
            | sed '1d;$d')

          if ! echo "$json_block" | jq . > /dev/null 2> jq_error.txt; then
            echo "invalid_json=true" >> $GITHUB_OUTPUT
            exit 1
          fi

          backend_tag=$(echo "$json_block" | jq -r '.zonda.backend_tag // empty')

          if [ -z "$backend_tag" ]; then
            backend_tag="main"
            echo "::warning title=Backend tag missing::backend_tag not found in JSON code-block, falling back to 'main'."
          fi

          echo "BACKEND_TAG=$backend_tag" >> $GITHUB_ENV

      - name: Report status on invalid JSON
        if: steps.extract_backend_tag.outcome == 'failure'
        uses: actions/github-script@v3
        with:
          script: |
            const fs = require('fs')
            const error = fs.readFileSync('jq_error.txt', 'utf8').trimEnd()

            const message = `
            The provided JSON snippet is invalid. Please make sure that there is no syntax error in your JSON.

            <details>

            <summary>Expand to see the error message from the jq command.</summary>

            \`\`\`
            ${error}
            \`\`\`

            </details>

            Common problems are:

            - The string \`PASTE_YOUR_REQUEST_HERE\` was not replaced correctly with the JSON snippet. Note that the JSON code-block (\\\`\\\`\\\`json ... \\\`\\\`\\\`) must not be removed.
            - Syntax errors in the JSON snippet. E.g., commas after the last entry of a JSON object ({...}) or array ([...]).

            Please close this request and open a new one to correct the error.
            `.replace(/^ {12}/gm, '');

            await github.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: message
            })

            await github.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['invalid']
            })

            core.setFailed("Invalid JSON snippet!")

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ env.BACKEND_TAG }}

      - name: Create new branch and commit
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git checkout -b request-${{ github.event.issue.number }}
          echo "${{ github.event.issue.number }}" > issue-id.txt
          git add issue-id.txt
          git commit -m "Add file for issue #${{ github.event.issue.number }}"
          git push origin request-${{ github.event.issue.number }}

      - name: Add 'submitted' label to issue
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['submitted']
            })
