name: Rerun request
on:
  issue_comment:
    types: [created]

jobs:
  commitOnRerunRequest:
    if: |
      github.event.comment.body == 'rerun request' &&
      !github.event.issue.pull_request &&
      github.event.issue.state == 'open' &&
      !contains(github.event.issue.labels.*.name, 'submitted')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: request-${{ github.event.issue.number }}

      - name: Extract JSON from issue description and commit to re-trigger request
        env:
          ISSUE_BODY: ${{ github.event.issue.body }}
        run: |
          FILENAME="issue_body_$(date +%FT%H-%M-%S).txt"
          echo "$ISSUE_BODY" > "$FILENAME"
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add "$FILENAME"
          git commit -m "Rerun request commit for issue #${{ github.event.issue.number }}"
          git push origin request-${{ github.event.issue.number }}

      - name: Re-add 'submitted' label to issue
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const labels_to_remove = ['completed', 'failed', 'aborted', 'invalid']
            for (const label of labels_to_remove) {
              try {
                await github.issues.removeLabel({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: context.issue.number,
                  name: label
                })
              } catch (error) {
                const status = error.status || error.response?.status
                if (Number(status) === 404) {
                  console.log(`Label '${label}' not found, skipping.`)
                } else {
                  throw error
                }
              }
            }

            github.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['submitted']
            })
